body{
    background-color: #C04848; /* For browsers that do not support gradients */
  background-image: linear-gradient(#C04848, #480048);
    

}
.title{font-size: 80px;
    line-height: 50px;
    color: #eef7a8;
    text-align: center;
 font-family: "Sevillana, cursive";
    

}
tr,td{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color:#8eebfe;
    
}
.bright{
    color: #240205;
    font-family:"Dhurjati", sans-serif;
    font-size: 40px;
}
table{
    text-align: center;
    align-items: center;
    border-collapse: separate;
    border-spacing: 100px 0;


}
